<div id="err-panel">
    <h3 class="err-msg">{{err}}</h3>
    <a href="/">
        <button id="copy-btn" class="btn btn-success" type="submit">
            Back to Index Page
        </button>
    </a>
</div>