<form action="/" method="POST">
    <div class="input-group">
        <input class="form-control" type="text" placeholder="www.google.com" name="oriUrl" required>
        <button class="btn btn-success" type="submit">Shorten</button>
    </div>
</form>