{{#if shortUrl}}
<div class="input-group" id="panel">
    <input id="shortUrl" class="form-control" type="text" placeholder="www.google.com" name="shortenUrl"
        value="{{shortUrl}}" required disabled>
    <button id="copy-btn" class="btn btn-success" type="submit" 
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        title="Copy the link">
        Copy Link
    </button>
</div>
{{else}}
<form action="/" method="POST">
    <div class="input-group" id="panel">
        <input class="form-control" type="text" placeholder="www.google.com" name="oriUrl" required>
        <button class="btn btn-success" type="submit">Shorten</button>
    </div>
</form>
{{/if}}