main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel {
    /* outline: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 800px;
    height: 300px;
    margin-top: 100px;
}

.input-group {
    width: 800px;
}

#shorten-link {
    /* text-align: center; */
    color: blue
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
}